<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>spletterTest._02_SignInTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_06_T_SignUp</td>
<td>SignIn </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_09_T_SignUp</td>
<td>SignIn </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_11_T_SignUp</td>
<td>SignIn </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_04_T_SignIn</td>
<td>SignIn </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_01_T_SignIn</td>
<td>SignIn </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_02_T_SignIn</td>
<td>SignIn </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_08_T_SignUp</td>
<td>SignIn </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_07_T_SignUp</td>
<td>SignIn </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_03_T_SignIn</td>
<td>SignIn </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_05_T_SignIn</td>
<td>SignIn </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>_10_T_SignUp</td>
<td>SignIn </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterTest</td>
<td>&nbsp;</td></tr>
</table>
