<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>SignIn</td><td>_02_SignInTests._03_T_SignIn()[pri:0, instance:spletterTest._02_SignInTests@340f438e]<br/>_02_SignInTests._07_T_SignUp()[pri:0, instance:spletterTest._02_SignInTests@340f438e]<br/>_02_SignInTests._10_T_SignUp()[pri:0, instance:spletterTest._02_SignInTests@340f438e]<br/>_02_SignInTests._05_T_SignIn()[pri:0, instance:spletterTest._02_SignInTests@340f438e]<br/>_02_SignInTests._08_T_SignUp()[pri:0, instance:spletterTest._02_SignInTests@340f438e]<br/>_02_SignInTests._01_T_SignIn()[pri:0, instance:spletterTest._02_SignInTests@340f438e]<br/>_02_SignInTests._06_T_SignUp()[pri:0, instance:spletterTest._02_SignInTests@340f438e]<br/>_02_SignInTests._09_T_SignUp()[pri:0, instance:spletterTest._02_SignInTests@340f438e]<br/>_02_SignInTests._04_T_SignIn()[pri:0, instance:spletterTest._02_SignInTests@340f438e]<br/>_02_SignInTests._11_T_SignUp()[pri:0, instance:spletterTest._02_SignInTests@340f438e]<br/>_02_SignInTests._02_T_SignIn()[pri:0, instance:spletterTest._02_SignInTests@340f438e]<br/></td></tr>
</table>
