<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="71cca7">  <td>15/04/07 15:48:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_02_SignInTests._01_T_SignIn()[pri:0, instance:spletterTest._02_SignInTests@340f438e]">_01_T_SignIn</td> 
  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="71cca7">  <td>15/04/07 15:48:56</td>   <td>3430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_02_SignInTests._02_T_SignIn()[pri:0, instance:spletterTest._02_SignInTests@340f438e]">_02_T_SignIn</td> 
  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="71cca7">  <td>15/04/07 15:48:56</td>   <td>3488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_02_SignInTests._03_T_SignIn()[pri:0, instance:spletterTest._02_SignInTests@340f438e]">_03_T_SignIn</td> 
  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="71cca7">  <td>15/04/07 15:48:56</td>   <td>3561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_02_SignInTests._04_T_SignIn()[pri:0, instance:spletterTest._02_SignInTests@340f438e]">_04_T_SignIn</td> 
  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="71cca7">  <td>15/04/07 15:48:56</td>   <td>3613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_02_SignInTests._05_T_SignIn()[pri:0, instance:spletterTest._02_SignInTests@340f438e]">_05_T_SignIn</td> 
  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="71cca7">  <td>15/04/07 15:49:00</td>   <td>8086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_02_SignInTests._06_T_SignUp()[pri:0, instance:spletterTest._02_SignInTests@340f438e]">_06_T_SignUp</td> 
  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="71cca7">  <td>15/04/07 15:49:14</td>   <td>22320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_02_SignInTests._07_T_SignUp()[pri:0, instance:spletterTest._02_SignInTests@340f438e]">_07_T_SignUp</td> 
  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="71cca7">  <td>15/04/07 15:49:32</td>   <td>40140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_02_SignInTests._08_T_SignUp()[pri:0, instance:spletterTest._02_SignInTests@340f438e]">_08_T_SignUp</td> 
  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="71cca7">  <td>15/04/07 15:49:37</td>   <td>44994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_02_SignInTests._09_T_SignUp()[pri:0, instance:spletterTest._02_SignInTests@340f438e]">_09_T_SignUp</td> 
  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="71cca7">  <td>15/04/07 15:49:51</td>   <td>58936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_02_SignInTests._10_T_SignUp()[pri:0, instance:spletterTest._02_SignInTests@340f438e]">_10_T_SignUp</td> 
  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="71cca7">  <td>15/04/07 15:49:53</td>   <td>60439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_02_SignInTests._11_T_SignUp()[pri:0, instance:spletterTest._02_SignInTests@340f438e]">_11_T_SignUp</td> 
  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="78f29c">  <td>15/04/07 15:49:54</td>   <td>61522</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Init.afterTest()[pri:0, instance:spletterTest._02_SignInTests@340f438e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1712669532</td>   <td></td> </tr>
<tr bgcolor="78f29c">  <td>15/04/07 15:48:44</td>   <td>-7763</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Init.setUp()[pri:0, instance:spletterTest._02_SignInTests@340f438e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1712669532</td>   <td></td> </tr>
</table>
